<p class="photo_fields">
    <%= f.text_field :title, placeholder: "Title" %><br>

    <%= f.text_field :short_description, placeholder: "Short Description" %><br>

    <%= f.label :photo %>
    <%= f.file_field :uploaded_photo %><br>

    <%= link_to_remove_association "remove photo", f %>
</p>