<%= render "shared/top_nav" %>

<div id="page">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <br><br><br><br><br>
  <%= link_to "Add photo", new_photo_path %>
  <%= render "shared/space_form" %>
  <%= render "shared/footer" %>
</div>
